.container {
    width: 90%;
    position: relative;
    top: 10px;
    margin: auto;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 15px; */
    margin: auto;
    margin-top: 4rem;


}

.container2 {
    display: block;
    text-align: left;
    width: 50%;
    padding-left: 25px
}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 15px; */
    margin: auto;
    margin-top: 4rem;

}

.cont2 {
    display: block;
    text-align: left;
    width: 50%;
    padding-left: 25px
}

.text {
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 15px
}

.images {
    width: 529px;
    height: 352px;
    object-fit: cover;
}

.button {
    margin-top: 2rem;
    color: white;
    border: none;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

h1 {
    color: red;
    font-size: 40px;
}


@media screen and (min-width: 375px) and (max-width:720px) {
    .container {
        position: relative;
        top: 1px;
    }

    .container1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin: auto;
        margin-top: 4rem;
    }

    .cont1 {
        display: grid;

        grid-template-columns: "repeat(2,1fr)";
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin: auto;
        margin-top: 4rem;
    }

    .images {
        width: 95%;
        /* height: 60%; */
        object-fit: cover;
    }

    .container2 {
        display: block;
        text-align: left;
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .cont2 {
        display: block;
        text-align: left;
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }
}